* {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  /* border: solid 2px black; */
}

.body {
  display: flex;
  flex-direction: column;
}

.nav-bar {
  display: flex;
  flex-direction: column;
  background-color: #260401;
  height: 20vh;
}

.admin {
  font-size: 100%;
}

.grid-section {
  display: grid;
  grid-template: repeat(4, 3fr) / repeat(4, 3fr);
  background-color: #D9C3B0;
  height: 60%;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 5%;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  border: solid grey .2px;
  background-color: white;
}


.username,
.nav-headers {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: baseline;
  color: white;
}

.nav-headers {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  height: 98%;
}

.title {
  display: flex;
  align-items: center;
  background-color: #D9C3B0;
  height: 10vh;
}

.ghost-photo {
  position: relative;
  height: 43%;
  margin: 0;
}

.arrow {
  position: absolute;
  height: 10%;
  width: 10%;
  /* left: 3%; */
}

h4 {
  font-size: 50%;
}

h2 {
  margin: 0 5% 0 5%;
}

.grid-title {
  font-size: 300%;
  font-weight: bold;
}

.main-title {
  font-size: 340%;
  margin-left: 21%;
}

.large-number {
  position: absolute;
  font-size: 300%;
  color: white;
  font-weight: bolder;
  /* left: 17%; */
}

.box-text {
  padding: 3%;
}
