* {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

h2 {
  margin: 4%;
}

h3 {
  margin: 0 3% 0 3%;
  font-weight: 800;
}

h4 {
  font-size: 60%;
  margin: .5%;
}

.body {
  display: flex;
  flex-direction: column;
}

.ghost-icon,
.pumpkin-icon,
.bat-icon {
  height: 25%;
  margin: 0 0 4% 1%;
}

.nav-bar {
  background-color: #8C8C8C;
  display: flex;
  flex-direction: column;
  height: 20vh;
}

.admin {
  font-size: 100%;
}

.grid-section {
  background-color: #404040;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(355px, auto));
  height: 80%;
}

.box {
  background-color: white;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  margin: 5%;
}


.username,
.nav-headers {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: baseline;
}

.nav-headers {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  height: 98%;
}

.title {
  background-color: #404040;
  display: flex;
  align-items: center;
  height: 15vh;
}

.ghost-photo {
  height: 43%;
  margin: 0;
  opacity: .7;
  position: relative;
}

.arrow {
  position: absolute;
  height: 10%;
  margin-left: 1%;
  padding: 1%;
}

.box-content {
  margin: 0 3% 3% 3%;
  font-weight: 800;
}

.photos-content {
  margin: 9% 3% 0 3%
}

.origin-content {
  margin: 3% 3% 0 3%;
}

.number {
  font-size: 250%;
  margin: 0 4.5%;
  color: #404040;
}

.date-text {
  margin: 0 3% 3% 3%;
  font-size: 50%;
}

.grid-title {
  font-size: 300%;
  font-weight: bold;
  margin: 3%;
}

.colored-box {
  background-color: #F2F2EB;
  padding: 10%;
}

.main-title {
  font-size: 380%;
  margin-left: 26%;
  margin-bottom: 4%;
  font-family: 'Creepster', cursive;
}

.large-number {
  position: absolute;
  font-size: 300%;
  color: white;
  font-weight: bolder;
  margin-left: 15%;
  text-align: right;
  padding: 1%;
}

.box-text {
  padding: 3%;
}
